[submodule "lib/lib/esp32-arduino-lib-builder"]
	path = lib/lib/esp32-arduino-lib-builder
	url = https://github.com/espressif/esp32-arduino-lib-builder.git
[submodule "lib/esp32-arduino-lib-builder"]
	path = lib/esp32-arduino-lib-builder
	url = https://github.com/espressif/esp32-arduino-lib-builder.git
[submodule "lib/etl"]
	path = lib/etl
	url = https://github.com/ETLCPP/etl.git
